/*
Theme Name: wmbaza
Author: Aleksey Razbakov
Author URI: http://razbakov.com/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

body {
    background: url(img/bg.jpg);
    font-size: 13px;
    font-family: Arial;
}

.breadcrumbs {
    display: none;
}

.fee {
    visibility: hidden;
}

.currency {
    visibility: hidden;
}

.social .partner {
    visibility: hidden;
}

.wrapper {
    width: 1022px;
    background: url(img/wrapper-bg.jpg);
    margin: 5px auto 5px auto;
    border: solid 1px #c0c2c2;
}

.header {
    margin: 36px 32px 16px 32px;
    color: #146ba2;
    overflow: hidden;
}

.header .logo {
    float: left;
}

.header .address {
    margin: 0 0 0 50px;
    float: left;
}

.header .contacts {
    margin: 0 0 0 45px;
    float: left;
}

.icon {
    padding-left: 37px;
    padding-top: 10px;
    margin: 0;
    padding-bottom: 5px;
}

.email {
    background: url(img/email.png) no-repeat 0 7px;
}

.skype {
    background: url(img/skype.png) no-repeat 2px 5px;
}

.phone {
    background: url(img/phone.png) no-repeat 5px 5px;
}

.nav-main {
    clear: both;
    background: url(img/menu.png) no-repeat;
    height: 48px;
}

.nav-main ul {
    text-align: right;
    list-style: none;
    padding-right: 30px;
}

.nav-main li {
    display: inline-block;
}

.nav-main li a {
    padding: 14px;
    font-size: 15px;
    font-weight: bold;
    display: block;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-main li a:hover,
.nav-main li.current-menu-item a {
    color: #508cb4;
}

.content {
    width: 596px;
    margin: 10px auto;
}

.content .date {
    font-size: 14px;
    font-style: italic;
}

h2 {
    color: #146ba2;
    font-size: 21px;
    line-height: 30px;
    margin: 0 0 30px 0;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

a {
    color: #146ba2;
}

a:hover {
    text-decoration: none;
}

.partners {
    overflow: hidden;
    background: url(img/border.png) repeat-x 0 0;
    padding: 20px 0;
    margin: 0 30px;
}

.partner {
    margin-bottom: 30px;
}

.webmoney,
.social {
    float: left;
    width: 50%;
    text-align: center;
}

.footer {
    overflow: hidden;
    background: url(img/border.png) repeat-x 0 0;
    padding: 20px 0;
    margin: 0 30px;
}

.footer .copyright {
    margin-top: 25px;
    float: left;
    width: 150px;
    background: url(img/lock.png) no-repeat 0 50%;
    padding-left: 40px;
    margin-right: 5px;
    color: #646464;
}

.footer .copyright p {
    margin: 0;
}

.footer .copyright a {
    color: #333;
}

.footer .disclaimer {
    float: left;
    width: 500px;
    font-size: 10px;
    color: #333;
    text-align: justify;
}

.footer .contacts {
    margin-left: 15px;
    margin-top: 15px;
    float: left;
    width: 250px;
}

.faq h3 {
    background: url(img/faq-header.png) no-repeat;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
}

.faq .block {
    display: none;
    font-style: italic;

}

.faq .active .block {
    display: block;
}

.faq .active h3 {
    background: url(img/faq.png) no-repeat;
}

.sidebar {
    background: url(img/border-v.png) repeat-y 100% 0;
    width: 315px;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
    float: left;
}

.news {
    background: url(img/border.png) repeat-x;
    padding-top: 40px;
    overflow: hidden;
}

.newsletter-email {
    padding: 5px;
}

.sidebar .block {
    margin-top: 30px;
}

.details p {
    padding: 6px 0 5px 35px;
    margin: 0 0 0 30px;
    font-size: 17px;
}

.wmid {
    background: url(img/wmid.png) no-repeat;
}

.wmz {
    background: url(img/wmz.png) no-repeat;
}

.wme {
    background: url(img/wme.png) no-repeat;
}

.wmr {
    background: url(img/wmr.png) no-repeat;
}

.wmu {
    background: url(img/wmu.png) no-repeat;
}

.news p {
    margin: 0 0 5px 0;
}

.news .date {
    font-style: italic;
}

.news h3 {
    color: #146ba2;
    font-size: 14px;
    margin: 0 0 5px 0;
}

.news article {
    margin-bottom: 25px;
    display: block;
    padding-left: 20px;
}

article {
    font-size: 14px;
    color: #363636;
    line-height: 18px;
}

.page {
    overflow: hidden;
}

.page .content {
    float: right;
    padding: 22px;
    min-height: 100px;
}

.step-1 {
    background: url(img/step-1.png) no-repeat -1px 4px;
}

.step-2 {
    background: url(img/step-2.png) no-repeat;
}

.step-3 {
    background: url(img/step-3.png) no-repeat;
}

.form {
    background: #f5f5f5;
    border-radius: 5px;
    border: solid 1px #b8b8b8;
    min-height: 50px;
    margin-top: 120px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.input-line {
    margin: 30px 0 0 30px;
}

.input-line  label {
    font-size: 20px !important;
    color: #375061;
    text-align: center;
    display: block;
}

.input-line  input {
    padding: 16px;
    color: #646464;
    border-radius: 2px;
    border: solid 1px #b8b8b8;
    width: 103px;
    margin-left: 2px;
}

#from, #to {
    font-size: 28px;
    padding: 7px 27px 7px 7px;
    text-align: right;
    color: #363636;
    margin-top: 4px;
}

#fromSymbol, #toSymbol {
    position: absolute;
    font-size: 28px;
    color: #363636;
    margin-top: 14px;
    margin-left: 115px;
}

.input-line  input:focus {
    box-shadow: 0px 0px 2px #acc8df;
}

.input-line div {
    float: left;
}

.input-line .center {
    background: url(img/exchange.png) no-repeat 50% 70%;
    width: 50px;
    height: 67px;
    margin-top: 13px;
}

.clear {
    clear: both;
}

.from {
    background: url(img/from.png) no-repeat 0 100%;
    width: 85px;
    height: 32px;
    margin-top: 2px;
}

.to {
    background: url(img/uah.png) no-repeat 0 100%;
    width: 100px;
    height: 67px;
    margin-left: 4px;
    margin-top: 9px;
}

    noindex:-o-prefocus,.from {
        background: url(img/from.png) no-repeat 0 100%;
        width: 100px;
        height: 67px;
        margin-top: 5px;
    }

    noindex:-o-prefocus,.to {
        background: url(img/uah.png) no-repeat 0 100%;
        width: 100px;
        height: 67px;
        margin-left: 4px;
        margin-top: 5px;
    }

    .notices {
        width: 543px;
        margin: 0 auto;
        color: #333333;
        font-size: 14px;
    }

.price {
    width: 420px;
    text-align: center;
    color: #333333;
    font-size: 18px;
    margin: 20px auto;
}

.notices div {
    float: left;
    margin: 5px;
    text-align: center;
}

.notices .error {
    color: #a72929;
    width: 182px;
    height: 50px;
}

.error div {
    visibility: hidden;
    position: absolute;
    width: 182px;
}

.notices .active {
    visibility: visible;
}

.actions {
   text-align: center;
    margin-bottom: 10px;
}

.loading {
    width: 247px;
    text-align: center;
    margin: 10px auto;
    color: #333;
    display: none;
}

.additional-fields .error {
    margin-left: 171px;
    margin-bottom: 10px;
}

.info {
    width: 515px;
    text-align: center;
    color: #333;
    padding: 1px 40px 20px 40px;
    font-size: 14px;
}

.form-thanks .info {
    background: url(img/clock.png) no-repeat 95% 0;

}

.btn {
    display: inline-block;
    padding: 10px 0px 10px 17px;
    background: linear-gradient(top, #4e88ce, #1871a8);
    background: -webkit-linear-gradient(top, #4e88ce, #1871a8);
    border: solid 1px #1871a8;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.btn-red {
    background: none;
    color: #9c0000;
    text-shadow: none;
    text-decoration: underline;
    border: none;
}

.btn:hover {
    background: linear-gradient(top, #1871a8, #1871a8);
    background: -webkit-linear-gradient(top, #1871a8, #1871a8);
}

.btn:active {
    background: linear-gradient(bottom, #4e88ce, #1871a8);
    background: -webkit-linear-gradient(bottom, #4e88ce, #1871a8);
}

.next {
    display: inline-block;
    background: url(img/icon.png) no-repeat;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: -4px;
    padding-left: 33px;
}

.column {
    float: left;
    width: 276px;
}

.form-confirmation .form-order {
    padding: 20px;
}

.form-calculator .form-order {
    padding: 20px 20px 0 20px;
}

.form-order label {
    color: #333333;
    font-size: 15px;
    margin-bottom: 4px;
    display: block;
}

.form-order input:not([type="checkbox"]) {
    border: solid 1px #b8b8b8;
    padding: 10px 14px;
    font-size: 15px;
    width: 236px;
}

.form-order .error {
    color: #a72929;
    font-size: 12px;
    display: none;
}

.form-order .error.active {
    display: block;
}

.additional-fields h4 {
    color: #333333;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.additional-fields label {
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 20px;
    padding-top: 10px;
}

.form-order .additional-fields input {
    width: 341px;
}

.field {
    margin-bottom: 4px;
}

.rules-fields {
    margin: 30px 0;
}

.rules-fields label {
    display: inline-block;
}

.actions .btn {
    margin-left: 20px;
}

.actions .btn:first-child {
    margin-left: 0;
}

.form h2 {
    margin-top: 30px;
}

.form-confirmation dl {
    padding: 20px;
    overflow: hidden;
    font-size: 15px;
    color: #333;
}

.form-confirmation dt {
    float: left;
    display: block;
    width: 200px;
    margin-bottom: 10px;
}

.form-confirmation dd {
    float: left;
    display: block;
    margin-bottom: 10px;
}

.from-select {
    position: absolute;
    margin-top: 78px;
    margin-left: 0px;
    background: #fff;
    padding: 10px;
    width: 77px;
    display: none;
    border: solid 1px #aaa;
}

.from-select li,
.from-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.from-select li a {
    padding: 5px;
    display: block;
}

.from-select li a:hover {
    background: #eee;
}

#newscontent {
    display: none;
}

.all {
    float: right;
    font-size: 14px;
}

.back {
    font-size: 14px;
}

#select {
    cursor: pointer;
    padding-top: 17px;
    margin-top: 28px;
    padding-left: 15px;
    font-size: 14px;
    background-position-y: 0px;
}

#select.active {
    background-position-y: -49px;
}

[disabled=disabled] {
    background: #eee !important;
}

#powered {
    padding: 10px;
    text-align: right;
    color: #333;
    font-size: 14px;
}

#powered a {
    color: #369;
}

.social a:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1280px) {
    .wrapper {
        width: 960px;
    }

    .logo {
        margin-left: 270px;
    }

    .address {
        padding-left: 120px;
    }

    .page {
        padding-right: 150px;
    }

    .disclaimer {
        width: 420px !important;
    }

    .sidebar {
        background: none;
        width: 300px;
        margin: 0 300px;
    }

    article {
        padding: 0 20px;
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        width: 640px;
    }

    .logo {
        margin-left: 120px;
    }

    .contacts {
        padding-left: 120px;
    }

    .page {
        padding-right: 0px;
    }

    .sidebar {
        margin: 0 150px;
    }

    .disclaimer {
        margin: 20px 0;
        width: 100% !important
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        width: 420px;
    }

    .logo {
        margin-left: 0px;
    }

    .logo img {
        width: 100%;
    }

    .address {
        padding-left: 0px;
    }

    .contacts {
        padding-left: 0px;
    }

    .step-1,.step-2,.step-3  {
        background: none;
    }

    .page .content {
        margin: 0;
        width: auto;
        float: left;
    }

    .content {
        width: 370px !important;
    }

    .form {
        margin: 0;
    }

    .sidebar {
        margin: 0 50px;
    }

    .webmoney, .social {
        width: 100%;
        margin-bottom: 20px;
    }

    .center {
        clear: both;
    }

    .to-input {
        clear: both;
    }

    .fee, .currency {
        color: #646464;
        clear: both;
    }

    .info {
        width: auto;
    }

    .additional-fields .error {
        margin-left: 150px;
    }

    .additional-fields label {
        text-align: left;
    }

    .form-order input:not([type="checkbox"]) {
        width: 250px !important;
    }

    article {
        margin: 20px 0;
    }

    .form {
        margin: 20px 0;
    }

    .center, .to {
        display: none;
    }

    .from, #from {
        margin-bottom: 20px;
    }

    .notices {
        margin-left: 30px;
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 300px;
    }

    .logo img {
        max-width: 100%;
    }

    .header .address {
        margin: 0;
    }

    .header .contacts {
        margin: 0;
    }

    .nav-main {
        background: none;
        margin: 20px 0;
        border-top: solid 1px #aaa;
        border-bottom: solid 1px #aaa;
        height: auto;
    }

    .nav-main li {
        display: block;
    }

    .sidebar {
        margin: 0;
        width: 250px;
    }

    .content {
        width: 250px !important;
    }

    .form-order input:not([type="checkbox"]) {
        width: 175px !important;
    }

    .price, .fee, .currency {
        width: 250px;
    }

    .btn-red {
        margin-bottom: 10px;
        display: block;
    }

    .actions .btn {
        margin-left: 0;
    }

    .notices div {
        text-align: left;
    }
}